<div *ngIf="formState" class="task-form">

    <form>
        <div class="form-control">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-control form-check">
            <label for="special">Is special:</label>
            <input type="checkbox" name="special" id="special">
        </div>
        <div class="form-control">
            <input class="btn" type="submit" value="Add">
        </div>
    </form>

</div>